.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html {
  scroll-behavior: smooth;
}

h6{
  margin-top: -20px;
}

/*for testing*/
#juniors_table{
  margin-bottom:50px; 
}

#personal_image_juniors{
 width: 300px;
 height: 300px;
}

#seniors_table{
  margin-bottom:50px; 
}
#personal_image_seniors{
  width: 200px;
  height: 200px;
 }



img.rewimages{
width: 400px;
height: auto;
border-radius: 20%;
}
h1.articlehead{
  text-align: center;
}
.trformat{
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#articletitle{
  margin: auto;
}
.credits{
  visibility:20%;
  color: gray;
}
.hdTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.bannersize{
  width: 400px;
  height: auto;
}
.h1edit{
  margin-top: 10px;
  text-align: center;
}
#genny{
margin-left: auto;
margin-right: auto;
}


/* for sign up*/
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #00008B;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
} 

.bg-indigo {
  background-color: #4835d4;
}
@media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}